# Lucy:"They serve the purpose of changing hydrogen into breathable oxygen,
#       and they’re as necessary here as the air is, on Earth."
# Ray:"But I still say,,, they’re flowers."
# Lucy:"If you like..."
# Ray:"Do you sell them?"
# Lucy:"I’m afraid not."
# Ray:"But, maybe we could make a deal."
# Lucy:"What do you mean?"
# Ray:"Oh, you see, you won’t have to send them anywhere.
#      I’ll pay for them, and then, I’ll leave them here, for you."

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Projects and configurations
*.pro
*.pro.user
*.pro.user.*

# Vim caches
*.*~

# Main.cpp for test only
main.cpp

# Qt CMake user config
*.user
